:root {
    --grid-background-color:rgb(24, 116, 104);
    --grid-background-color-transp:rgb(24, 116, 104,0.7);
    --white-text: #ffffff;
}

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background: rgb(13,32,21);
    background: linear-gradient(180deg, rgba(13,32,21,1) 0%, rgba(28,97,69,1) 58%, rgba(23,67,76,1) 70%, rgba(19,46,81,1) 100%);
}

.jumbotron {
    background-image: url("../images/hero.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.box {
    background-image: linear-gradient(30deg, rgba(0, 148, 233, 0.5) 0%, rgba(73, 133, 98, 0.5) 50%, #283a2a 100%);
    width: 30%;
    height: 100%;
    position:absolute;
    top: 0;
    margin-left: 60vw;
    margin-right: 15px;
}


#logo {
    filter: drop-shadow(0px 0px 10px rgba(31, 29, 16, 0.555));
    max-width: 75%;
    margin-top: clamp(20%, 5%, 7%);
    margin-left: 15%;
}

h1, a {
    color: var(--white-text);
}

ul {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    margin-left: 0; 
    padding-left: 0;
    /* margin-top: clamp(2%, 5%, 7%); */
}

a {
    text-decoration: none;
    padding-top: 10px;
}

a:hover {
    transition: transform .2s;
    transform: scale(1.1);
    color:var(--white-text);
}

.about {
    display: grid;
    justify-content: space-around;
    padding: 10px;
    grid-template-columns: 1fr 7fr;
    grid-gap: 10px;
    height: 100vh;
    color: var(--white-text);
}

#about-content {
    font-size: 15px;
    padding-top: 90px;
    padding-left: 30px;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    flex-direction: row;
}

#about-img {
    height:30rem;
    margin-right: 30px;
    border-radius: 20px;
}

p {
    font-size: 20px;
}

.about div,
/* .work div, */
.contact div {
    border-left: 5px solid var(--grid-background-color);
    padding: 20px;
    margin-bottom: 20px;
}

button {
    margin-top: 50px;
    margin-right: 10px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #4CAF50;
    padding: 10px;
    width: 200px;
}

button:hover {
    transition: transform .2s;
    transform: scale(1.1);
    background-color:#ffffff38

}

.work {
    display: grid;
    padding: 10px;
    color: var(--white-text);
}

#my-work{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    margin-top: 20px
}

.card {
    background-color: rgba(34, 73, 124, 0.247);
    text-align: center;
}

.btn {
    font-size: 20px;
    margin: 20px
}

.tools {
    margin: 10px;
    width: 15%;
}

.tools-2 {
    width: 25%;
}

h5 {
    margin: auto;
    color: var(--white-text);
    background: var(--grid-background-color-transp);
    padding: 10px;
    border-radius: 10px;
}

.contact {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 7fr;
    padding: 20px;
    grid-gap: 10px;
    font-size: 30px;
    color: var(--white-text);
}

.contact-info {
    margin-top: 50px;
    display: flex;
    flex-direction:column;
    align-items: center;
}

footer p{
    color: var(--white-text);
    text-align: center;
}

@media screen and (max-width: 667px){
    .section-title {
        font-size: 90%;
        word-break: normal;
    }

    .container img {
        max-width: 85%;
        margin-top: -500px;
        margin-bottom: 30px;
        margin-left: 3px;
    }

    #logo {
        display: flex;
        align-self: center;
    }

    .container h1 {
        font-size: 200%;
        display:inline;
        margin-top: 5px;
        margin-left: 0px;
        word-wrap: break-word;
    }

    .container ul {
        margin-top: 30px;
    }

    .work-images {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    .contact h3 {
        margin-left: 0;
    }

}